* {
  box-sizing: border-box;
}
j
a {
  text-decoration: none;
}
img {
  object-fit: cover;
}
main,
header,
footer,
div,
section,
article,
nav,
ul,
figure,
figcaption,
a {
  display: flex;
  flex-wrap: wrap;
}
@font-face {
  font-family: ubunto;
  src: url(../font/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Light.ttf);
}
:root {
  --darkGray: #1f1f1f;
  --darkLight: #232323;
  --whiteLight: #ececec;
  --white: #ffffff;
  --gray: #969696;
  --gray2: #323232;
  --black1: #1b1b1b;
  --gray-3: #252525;
  --gray4: #2c2c2c;
  --headingFont: ubunto;
  --pgFont: roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
}
p,
span {
  font-family: var(--pgFont);
}
button {
  all: unset;
}
